.input[type="checkbox"] {
    display: none;
}

.form {
    padding: 10px;
}

.btnBack:hover path {
    fill: #fff;
}

.divForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for the custom checkbox */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    position: relative;
    background: var(--background-color);
    box-shadow: inset -4px -4px 8px var(--shadow-3), inset 4px 4px 8px var(--shadow-4);
    cursor: pointer;
}

/* Style for the custom checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--Font-Nav);
    box-shadow: inset -2px -2px 4px var(--main-sub-colo), inset 2px 2px 4px white, 0 0 5px rgba(0, 0, 0, 0.2);
    text-shadow: 4px 4px 2px var(--shadow-3), -4px -4px 2px var(--shadow-4);
    border-radius: 2px;
    opacity: 0;
}

/* Show the checkmark when checkbox is checked */
.input[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}

.sectionLogin {
    display: grid;
    place-items: center;
    grid-template-rows: 100px 50dvh;
}


#divAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: clamp(3rem, 1vw, 1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 20%;
    z-index: -10;
}