.input[type="checkbox"] {
    display: none;
}

.form {
    padding: 10px;
}

.btnBack:hover path {
    fill: #fff;
}

.divForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for the custom checkbox */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    position: relative;
    background: var(--background-color);
    box-shadow: inset -4px -4px 8px var(--shadow-3), inset 4px 4px 8px var(--shadow-4);
    cursor: pointer;
}

/* Style for the custom checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--Font-Nav);
    box-shadow: inset -2px -2px 4px var(--main-sub-colo), inset 2px 2px 4px white, 0 0 5px rgba(0, 0, 0, 0.2);
    text-shadow: 4px 4px 2px var(--shadow-3), -4px -4px 2px var(--shadow-4);
    border-radius: 2px;
    opacity: 0;
}

/* Show the checkmark when checkbox is checked */
.input[type="checkbox"]:checked+.custom-checkbox::after {
    opacity: 1;
}

#divAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: clamp(3rem, 1vw, 1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 20%;
    z-index: -10;
}

/* Toggle Switch */

/* From Uiverse.io by mobinkakei */
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: var(--Font-Nav-shadow);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0px var(--shadow-1),
        8px 4px 12px 0px var(--shadow-3);
}

.toggle-state:checked~.indicator {
    transform: translate3d(25%, 0, 0);
}

.swal2-timer-progress-bar {
    background: var(--Font-Nav) !important;
    height: 6px !important;
    border-radius: 3px;
}

.swal2-loader {
    border-color: var(--Font-Nav) transparent var(--Font-Nav) transparent !important;
}