# ShopCart.css

.sect_cart {
    padding: 0 0 0 8px;
}

.cards_shadow {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.clip-path-shop-cart {
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
    width: 120px;
    height: 30px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--glass-bacground);
    backdrop-filter: var(--glass-bacground-blur);
    padding: 5px 0 0 0;
}

.clip-path-shop-cart2 {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}