.form {
      display: flex;
      align-items: center;
      justify-content: center;
}
#divAlert {
  width: 800px;
  height: 35px;
  margin-top: 15px;
  position: absolute;
  color: white;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
}

/* #divAlert {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: clamp(3rem, 1vw, 1rem);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 20%;
      z-index: -10;
} */