.my-confirm-button {
  background-color: #19A9A4 !important;
  color: white !important;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  transition: background 0.3s ease;
}

.my-confirm-button:hover {
  background-color: #148b89 !important;
}
