.sectionForgot{
    display: grid;
    place-items: center;
    grid-template-rows: 100px 50dvh;
}

#divAlert {
  position: fixed;
  top: 2px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  z-index: 9999;
  display: none;
}
