.btnDown {
    margin-top: 65px;
}
.text-shadow {
  text-shadow: 0px 0px 0px rgba(0,0,0,0.7);
}
/* .Admin{
    padding: 2% 0 2% 1%;
} */
.SectionSIde{
    overflow-y: scroll;
}
#sideBarr{
    display: flex;
    flex-wrap: wrap;
    min-width: 120px;
    max-width: calc((6.5rem * 5) + (2.5rem * (5 - 1)));
}
.BTN {
    padding: 5px 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.BTN:active {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset -9.91px -9.91px 15px #CACACA, inset 9.91px 9.91px 15px #F2F2F2;
}
.BTN:hover {
    color: var(--Font-Nav);
}