@import "tailwindcss";

* {
  margin: 0;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input::placeholder {
  color: var(--main-color-sub);
}

:root {
  --bg-color: #fff;
  --main-color: #323232;
  --main-color-sub: #666;
  --main-focus: #2d8cf0;
  --Bacground-body: #ffff;
  /* Body-color-end----------------- Font-Nav*/
  --Font-Nav: #D4AF37;
  /* ADMIN */
  --background-color: #ffff;
  /* Shadows Neomorfism */
  --shadow-1: #CACACA;
  --shadow-2: #F2F2F2;
  /* Sub Shadows Neomorfism */
  --shadow-3: #CCCED0;
  --shadow-4: #F4F6FA;
  /* For Inputs:focus */
  --shadow-5: #DADADA;
}

body {
  background: var(--Bacground-body);
  background-size: cover;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
  display: none;
}

@layer utilities {
  .Points {
    -webkit-text-stroke: .5px black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .NeoContainer_inset_TL {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset -9.91px -9.91px 15px var(--shadow-1), inset 9.91px 9.91px 15px var(--shadow-2);
  }

  .NeoContainer_outset_TL {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 9.91px 9.91px 15px var(--shadow-1), -9.91px -9.91px 15px var(--shadow-2);
  }
  .NeoNone{
    background: none;
    border-radius: none;
    box-shadow: none;
  }
  .NeoSubContainer_outset_TL {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 9.91px 9.91px 15px var(--shadow-3), -9.91px -9.91px 15px var(--shadow-4);
  }

  .NeoSubContainer_inset_TL {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset -9.91px -9.91px 15px var(--shadow-3), 9.91px 9.91px 15px var(--shadow-4);
  }

  .NeoSubContainer_inset_TOTAL {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset -4px -4px 8px var(--shadow-3), inset 4px 4px 8px var(--shadow-4);
  }

  .NeoContainer_outset_BR {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: -9.91px -9.91px 15px var(--shadow-1), 9.91px 9.91px 15px var(--shadow-2);
  }

  .NeoSubContainer_inset_BR {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset 9.91px 9.91px 15px var(--shadow-1), -9.91px -9.91px 15px var(--shadow-2);
  }

  .NeoContainer_inset_BR {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset 9.91px 9.91px 15px var(--shadow-1), -9.91px -9.91px 15px var(--shadow-2);
  }

  .inputs:focus-within {
    background-color: #f0f0f0;
    box-shadow: inset -2px -2px 4px var(--shadow-5), inset 2px 2px 4px white, 0 0 5px rgba(0, 0, 0, 0.2);
    text-shadow: 4px 4px 2px var(--shadow-3), -4px -4px 2px var(--shadow-4);
  }

  .inputs:webkit-autofill {
    background-color: var(--background-color);
    box-shadow: inset -2px -2px 4px var(--shadow-5), inset 2px 2px 4px white, 0 0 5px rgba(0, 0, 0, 0.2);
    text-shadow: 4px 4px 2px var(--shadow-3), -4px -4px 2px var(--shadow-4);
    transition: background 50000s ease-in-out 0s;
  }
  .buttonTL{
    cursor: pointer;
    color: var(--main-color);
  }
  .buttonTL:active {
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset 9.91px 9.91px 15px #CACACA, -9.91px -9.91px 15px #F2F2F2;
  }
  .buttonTL2{
    cursor: pointer;
    background: linear-gradient(to bottom right, #2d8cf0, #6edff6);
    color: var(--main-color);
  }
  .buttonTL2:active {
    color: var(--Font-Nav);
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: inset 9.91px 9.91px 15px #CACACA, -9.91px -9.91px 15px #F2F2F2;
  }
}