@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --glass-bacground: rgba(255, 255, 255, 0.055);
  --glass-bacground-blur: blur(30px);
  /* -----------------Circles color-Beggin */
  /* --Circle #1 - big size*/
  --color-1_circle-1: #2395f3a4;
  --color-2_circle-1: #2161F2a4;
  --color-3_circle-1: #212CF2a4;
  --color-4_circle-1: #4921F2a4;
  --color-5_circle-1: #7D21F2a4;
  --color-6_circle-1: #B221F2a4;
  /* --Circle #2 - medium size*/
  --color-1_circle-2: #E621F2a4;
  --color-2_circle-2: #9E4CF2a4;
  --color-3_circle-2: #2196F3a4;
  /* --Circle #3 - litle size*/
  --color-1_circle-3: #21F2E7a4;
  --color-2_circle-3: #2196F3a4;
  --color-3_circle-3: #212CF2a4;
  /* Circles color-end----------------- Body-color-beggin */
  --Bacground-body:#001746;
  /* Body-color-end----------------- Font-Nav*/
  --Font-Nav:#FDBC50;
  
  
}
#root{
  padding: 0 80px;
}
body {
  background: var(--Bacground-body) /*url('https://wallpapers.com/images/high/black-red-4k-uhd-fantasy-elephant-olunymyrz6zoxv18.webp')*/;
  background-size: cover;
}
.cards_shadow {
  filter: drop-shadow(5px 2px 4px black);
}

@layer utilities {
  .bg-glass {
    background-color: var(--glass-bacground);
  }
  
  .bg-glass-1 {
    backdrop-filter: var(--glass-bacground-blur);
  }  
  
  .bg-glass-total{
    background-color: var(--glass-bacground);
    backdrop-filter: var(--glass-bacground-blur);
  }
  .clip-path-triangle {

    clip-path: polygon(0% 0%, 0 100%, 40% 100%, 59% 82%, 100% 82%, 100% 0);

  }

  .clip-path-triangle-inverse {

    clip-path: polygon(100% 100%, 0 100%, 25% 68%, 100% 68%);

  }

}